<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="inscreat.record.kept"
  android:versionCode="1"
  android:versionName="1.0.0"
  android:installLocation="internalOnly"
  android:hasCode="false" >
  <application 
    android:label="Kept" >
    <activity 
      android:name="android.app.NativeActivity"
      android:configChanges="orientation|keyboardHidden"
      android:theme="@style/AppTheme" >
      <meta-data android:name="android.app.lib_name" android:value="sup"/>
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
